$color-primary: #F53838;
$color-primary-light: #FFECEC;
$color-secondary: #AFB5C0;    
$color-heading: #0B132A;    
$color-text: #4F5665;       
$color-light: #F6F6F6;      
$color-white: #FFFFFF;
$color-stats-divider: #EEEFF2;

$font-family-base: 'Rubik', sans-serif; 
$font-size-logo: 20px;

$spacing-xs: 0.25rem;   // 4px
$spacing-sm: 0.5rem;    // 8px
$spacing-md: 1rem;      // 16px
$spacing-lg: 2rem;      // 32px
$spacing-xl: 4rem;      // 64px
$spacing-xxl: 7.5rem;   // 120px
$spacing-xxxl: 15rem; // 240px
