.button-primary {
    display: inline-block;
    padding: 18px 50px; 
    border-radius: 50px;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1;
    cursor: pointer;
    text-align: center;
    transition: all 0.3s ease;
    text-decoration: none;

    background-color: $color-primary;
    color: $color-white;
    border: none;
    
    box-shadow: 0 10px 30px rgba($color-primary, 0.4); 

    &:hover {
        background-color: darken($color-primary, 5%);
    }
}
