.features-section{
    padding: 6.25rem 0;

    .container{
        display: flex;
        align-items: flex-end;
        justify-content: center;
        gap: 10rem;
        
        .features-image{
            display: block;
            width: 100%;
            height: auto;
            max-width: 500px;
        }

        .features-content{
            max-width: 400px;

            h2{
                margin-top: 0;
                margin-bottom: 1.25rem;
            }
            
            p{
                margin-bottom: 1.18rem;
            }

            ul{
                list-style: none;
                padding: 0;
                margin: 0;

                li{
                    display: flex;
                    align-items: center;
                    margin-bottom: $spacing-md;
                    gap: $spacing-sm;

                    img{
                        margin-right: $spacing-sm;
                    }
                }
            }
        }
    }
}