.hero-section{
    .container{
        display: flex;
        align-items: center;
        gap: 2.5rem;
        padding-top: 5rem;

        .hero-content{

            p{
                margin-bottom: 3.125rem;
            }

            .hero-btn{
                border-radius: 10px;
                padding: 1.06rem 4.5rem;
            }
        }

        .hero-image{
            position: relative;
            left: 5rem;
        }
    }
}