.plan-section{
    display: flex;
    align-items: center;

    .container{
        padding: 6rem 0;

        .title{
            text-align: center;
            max-width: 530px;
            margin: 0 auto 3.75rem;

            h2{
                margin-bottom: 1.25rem;
            }

            p{
                max-width: 530px;
                display: flex;
            }
        }

        .card{
            display: flex;
            align-items: center;
            gap: $spacing-xl;
            align-items: stretch;

            .pricing-card{
                border: 2px solid #DDDDDD;
                border-radius: 10px;
                text-align: center;
                padding: 4.5rem;
                display: flex;
                flex-direction: column;

                ul{
                    list-style: none;
                    padding: 0;
                    margin: 0 auto 3.75rem;
                    max-width: 250px;
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
                    font-size: 14px;
                    
                    li{
                        display: flex;
                        align-items: center;
                        gap: 1.25rem;
                    }
                }

                h3{
                    span{
                        color: $color-text;
                        font-weight: 200;
                    }
                }

                a{
                    padding: 0.8rem 4rem;
                }

                .card-footer{
                    margin-top: auto;
                }
            }
        }
    }
}