.testimonials-section {
    padding: 0 0 10rem;
    
    .container {
        margin-bottom: 5rem;
    }
    
    .title {
        text-align: center;
        max-width: 440px;
        margin: 0 auto 3.75rem; 
        
        h2 {
            font-size: 2.1rem;
            font-weight: 700;
            color: $color-heading;
            margin-bottom: 1.25rem;
        }
        p {
            font-size: 1rem;
            color: $color-text;
        }
    }

    .content { 
        display: flex;
        justify-content: center;
        gap: 3.125rem; 
        margin-bottom: 3.75rem;
    }

    .card {
        
        background: $color-white;
        border: 2px solid #DDDDDD;
        border-radius: 10px;
        padding: 1rem 1.8rem;
        
        &.active {
            border-color: $color-primary;
        }

        .top {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 1.25rem;

            .left {
                display: flex;
                align-items: center;
                gap: 1.25rem;
                
                img {
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                }
                .name h4 { 
                    font-size: 1.125rem; 
                    margin-bottom: -1.5rem;
                    color: $color-heading;
                }
                .name p { 
                    font-size: 0.875rem;
                    color: $color-text;
                }
            }

            .right {
                display: flex;
                align-items: center;
                gap: 0.5rem;
                p { margin: 0; font-size: 1rem; }
                img { width: 16px; height: 16px; }
            }
        }
        
        > p { 
            font-size: 1rem;
            color: $color-heading;
            width: 21rem;
        }
    }

    .footer {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .left { 
            display: flex;
            gap: 1rem;
            
            span {
                display: block;
                width: 15px;
                height: 15px;
                background-color: #DDE0E4;
                border-radius: 50%;
                
                &.active {
                    background-color: $color-primary;
                    width: 45px;
                    border-radius: 10px;
                }
            }
        }

        .right {
            display: flex;
            gap: 1rem;
            
            button { 
                width: 60px;
                height: 60px;
                border: 2px solid $color-primary;
                border-radius: 50%;
                background: $color-white;
                color: $color-primary;
                cursor: pointer;
                transition: background-color 0.3s;
                
                &:hover, &.active {
                    background-color: $color-primary;
                    color: $color-white;
                }
                &:disabled {
                    border-color: #DDE0E4;
                    color: #DDE0E4;
                    cursor: not-allowed;
                    background: $color-white;
                }
            }
        }
    }
}