

.main-header {
    background-color: $color-white;
    padding: 2rem 0;
    position: relative;

    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo{
        text-decoration: none;
        color: $color-heading;
        display: flex;
        align-items: center;
        gap: 6px;
        font-size: $font-size-logo;
        font-weight: 500;

        img{
            height: 35px;
            width: auto;
        }
    }

    .main-nav{
        @media (min-width: 993px) {
            display: block;
        }

        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            gap: $spacing-md * 2.5;

            li{
                a{
                    text-decoration: none;
                    color: inherit;
                }
            }
        }
    }

    .header-actions{
        display: flex;
        align-items: center;
        gap: $spacing-lg;

        a{
            text-decoration: none;
        }

        .btn-signin{
            color: $color-heading;
            font-size: 1rem;
            font-weight: 500;
        }

        .btn-signup {
            background-color: transparent; 
            border: 1px solid $color-primary;
            color: $color-primary; 
            box-shadow: none; 
            
            &:hover {
                background-color: $color-primary; // Merah solid saat hover
                color: $color-white; // Teks putih
                box-shadow: 0 5px 15px rgba($color-primary, 0.4); // Memberi bayangan saat hover
            }
        }
        
    }
}